@use "../../Styles/Variables" as *;



.confirm-cancel-modal .modal-content {
  background: $background-gradient !important;
  border: $border-width $border-style $color-stroke !important;
  border-radius: $border-radius;
  box-shadow: $glow-strong;
  color: $color-text;
  text-align: center;

  .confirm-cancel-header,
.confirm-cancel-footer {
  border: none !important;
  box-shadow: inset 0 0 8px rgba(0, 255, 255, 0.2); // soft cyan inner glow
}

}
.confirm-btn {
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  background: transparent;
  border: 1px solid #ff0044;
  color: #ff0044;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  text-shadow: 0 0 4px #ff0044;

  &:hover {
    background: #ff0044;
    color: #000;
    box-shadow: 0px 0px 14px #ff0044;
  }
}


.cancel-btn {
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  background: transparent;
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  text-shadow: 0 0 4px #cfcfcf;

  &:hover {
    background: #cfcfcf;
    color: #000;
    box-shadow: 0px 0px 14px #cfcfcf;
  }
}

.confirm-cancel-modal .btn-close {
  filter: invert(1) brightness(2); 
  opacity: 0.9;
  transition: 0.2s ease;

  &:hover {
    filter: invert(1) brightness(3) drop-shadow(0 0 6px $color-stroke); // cyan glow on hover
    opacity: 1;
  }
}

.confirm-cancel-modal .btn:hover {
  
  border-color: inherit !important;
}

