.custom-modal .modal-content {
    background: linear-gradient(180deg, #1a1b2e 0%, #0d0d14 100%) !important;
    border: 2px solid #00ffff !important;
    border-radius: 8px;
    box-shadow: 0 0 15px #00ffff;
    color: #ffffff;
    text-align: center;
    border: none
}

.modal-body{
  border: none !important;
}
