@use "../../styles/Variables" as *;

.trailer {
  margin-top: 5rem;
  margin-inline: auto;
  width: 750px;
  max-width: 80%;

  .trailer-iframe {
    border: $border-style $border-color $border-width;
    box-shadow: $glow-strong;
    border-radius: $border-radius;
  }
}
