@use "./variables";
@use "./base.scss";
@use "../pages/PagesStyle/allmoviespages.scss";

:root {
  --bs-dark: #000;
  --bs-primary: #e50914;
}

body {
  background-color: var(--bs-dark);
  @media (max-width: 400px) {
    padding-bottom: 100px; 
  }
}


