@use "../../styles/variables" as *;

.overall-button {
  cursor: pointer;
  color: $color-text;
  font-family: $font-family-heading;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: $border-radius;
  border: $border-width $border-style $color-button;
  background-color: $color-button;
  box-shadow: $glow-strong;

  &:hover {
    box-shadow: $button-hover;
  }
}
