@use "../../styles/variables" as *;

.filter-container {
  margin-left: 2rem;
  margin-top: 2rem;
  display: inline-block;

  .filter-btn {
    margin: 0;
    box-shadow: $glow-soft;

    &:hover {
      box-shadow: $dropdown-hover;
    }
  }

  .option-container {
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .options-dropdown {
      margin: 0;
      animation: 0.4s fadeSlideDown ease-in-out forwards;
      border: border-width $border-style $border-color;
      box-shadow: $glow-soft;

      &:hover {
        box-shadow: $dropdown-hover;
      }
    }
  }
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
