@use "../../Styles/Variables" as *;

.all-movies-container {
  background-color: $background-gradient;
  box-shadow: 0 0 10px $color-hover;
  border-radius: $border-radius;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  overflow: hidden;

  @media (max-width: 1180px) {
    font-size: 0.8rem;
  }
  @media (max-width: 893px) {
    font-size: 0.7rem;
  }



  @media (max-width: 767px) {
    box-shadow: none;
  }

 

    @media (max-width: 460px) {
      margin-top: 1rem;
      margin-left: 0.25rem;
    }
    .all-movies-header {
      margin-top: 2rem;
      text-shadow: $text-glow;
      @media (max-width: 991px) {
        font-size: 1.5rem;
      }
    }

    .choose-text {
      text-shadow: $text-glow;
    }
  }
  .day-filter {
        width: 170px;

  }


