@use "../styles/variables" as *;
.ul-list-tags {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;

  .li-tags {
    background-color: #3b4558;
    border-radius: $border-radius;
    padding: 0.35rem;
  }
}
