/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movies {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.movie-card {
  background: #0b0b12;
  color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #00f0ff88;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
